.navbar-home {
    background-color: #741e1e;
    border: none;
    margin-bottom: 0px;
    border-radius: 0px;
}

.navbar-home .navbar-nav>li>a {
    color: #fff;
}

.navbar-default .navbar-brand {
    color: #fff;
    font-weight: bold;
}
.carousel-pic{
    
    height: 550px;
}
.about{
    margin-top: 3rem;
    font-weight: bold;
}

.about h2{
    font-weight: bold;
}
.about2{
    margin-bottom: 6rem;
}
.pictures{
    margin-top: 5rem;
}
.pictures h2{
    margin-bottom: 4rem;
    font-weight: bold;
}
.footer{
    background-color:#741e1e;
    color: white;
    padding-top:1.5rem;
}